{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "flowtype",
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "jest/globals": true
  },
  "rules": {}
}
