{
  "extends": [
    "preact",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "jest"
  ],
  "settings": {
    
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "no-tabs": "error",
    "indent": [
      "error",
      2
    ]
  },
  "overrides": [
    {
      "files": [
        "index.js"
      ],
      "rules": {
        "no-unused-vars": "off"
      }
    }
  ]
}
